.name {
  text-transform: capitalize;
}

.react-datepicker-wrapper {
  display: block !important;
}

.align-h {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.align-hv {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.float-rb {
  position: fixed;
  left: 88vw;
  bottom: 5vh;
  z-index: 5;
}

.circle {
  border-radius: 50%;
}
.fix-margin {
  margin-bottom: 5rem;
}
